.detail-form {
    padding-left: 8%;
}

.form-action-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
}

button.secondary {
    margin-left: 16px;
}

.checkgroup {
    width: 100%;
    margin: 0 auto;
}
ul.checklist {
    text-align: left;
    padding-inline-start: 0;
    
}

input[type="checkbox"] {
    margin-right: 8px;
}
