.map-filter-area {
    display: flex;
    margin-top: 32px;
}


.japan-map {
    /* margin-top: 100px; */
    width: 40%;
    /* margin-right: 5%; */
    margin: 100px 5% 0 1%;
}

.region-map {
    border: 2px dotted #6F5D6C;
    width: 60%;
    margin: 10px auto;
}
label.region-caption {
    font-size: 0.8em;
}

.prefecture-area {
    display: flex;
    flex-wrap: wrap;
}

/* .prefecture-area.selected {
    border: 2px solid #400B36;
} */
.prefecture-map {
    border: 2px solid gray;
    padding: 8px 10px;
    display: flex;
}
/* .prefecture-map.selected {
    background-color: #400B36;
} */
label.prefecture-caption {
    font-size: 0.7em;
    color: gray;
}

.prefecture-map.selected label.prefecture-caption {
    color: white;
}

.region-text-panel {
    text-align: left;
    width: 50%;
}
.region-full-list {
    column-count: 2;
}
.region {
    padding-bottom: 24px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    height: fit-content;
    break-inside: avoid-column;
}

.region:hover {
    border: 1px solid #606;
}
.region-title {
    color: #400B36;
}

ul.prefecture-listing {
    list-style-type: none;
    padding-inline-start: 0;
    column-count: 2;
}

li.prefecture-name {
    cursor: pointer;
}

li.prefecture-name.selected div{
    background-color:#6F5D6C;
    color: white;
    width: fit-content;
}