@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto&family=Roboto+Slab&display=swap');
/* font-family: 'Pangolin', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

button {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
button.primary {
  background-color: #400B36;
  border: 2px solid transparent;
  color: white;
}

button.secondary {
  background-color: white;
  border: 2px solid #400B36;
  color: #400B36;
}

a {
  text-decoration: none;
  color: #400B36;
}

a:hover {
  text-decoration: none;
  color: #6F5D6C;
}


nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  height: 64px;
  position: fixed;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.88)
}

.logo-area a {
  display: flex;
  align-items: center;
}

.logo-area a img {
  width: 40px;
  margin-right: 6px;
}
nav .logo-area,
nav .logo-area * {
  font-family: 'Pangolin', cursive;
  text-decoration: none;
  color: #400B36;
  font-size: 1.9rem;
  margin-left: 24px;

}

.nav-links {
  justify-self: center;
}
.nav-links ul {
  display: flex;
  list-style-type: none;
}
.nav-links ul li {
  font-size: 0.9rem;
  /* margin-right: 32px; */
}

.nav-links ul a.not-ready {
  cursor: not-allowed;
  color: gray;
}
.nav-links ul a {
  height: 32px;
  border-bottom: 8px transparent solid;
  display: flex;
  align-items: center;
  padding: 2px 12px;
  margin-right: 32px;
}
.nav-links ul a:hover,
.nav-links ul a.active {
  border-bottom: 8px #400B36 solid;
}
nav .nav-right {
  display: flex;
  align-items: center;
}

nav .setup-options {
  margin-right: 16px;
}

select.lang-select {
  height: 34px;
  padding-left: 8px;
  /* width: 64px; */
  /* border: none; */
  border-radius: 2px;
}
nav .authentication {
  margin-right: 24px;
}

nav .authentication button {
  width: 100px;
}
.content {
  padding-top: 64px; /* 64px min from navbar*/
}
footer {
  width: 100%;
  border-top: 1px solid lightgray;
}

footer h6 {
  text-align: center;
  margin: 12px auto;
  font-weight: 400;
  color: #400B36;
}
/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
